<% if(messages.length !== 0) { %>
  <div class="table-responsive">
      <% for (const obj in messages ) { %>
        <p class="mensajesNuevos"><span>[<%= messages[obj].datetime %>]</span> <strong><%= messages[obj].email %></strong>: <%= messages[obj].mensaje %></p>
      <% } %>
    </table>
  </div>
  <% } else{ %>
  <h3 style="color: black">No hay mensajes</h3>
  <% }%>