  <div class="container mt-3">
    <div class="jumbotron">
      <h1 style="color: blue">Ingrese datos</h1>
      <form action="/productos" method="post" onsubmit="return post(this)">
        <div class="form-group">
          <label for="nombre"><strong>Nombre</strong></label>
          <input id="nombre" class="form-control" type="text" name="nombre" />
        </div>
        <div class="form-group">
          <label for="precio"><strong>Precio</strong></label>
          <input
            id="apellido"
            class="form-control"
            type="number"
            name="precio"
          />
        </div>
        <div class="form-group">
          <label for="stock"><strong>Stock</strong></label>
          <input id="stock" class="form-control" type="number" name="stock" />
        </div>
        <div class="form-group">
          <label for="imagen"><strong>Imagen</strong></label>
          <input id="imagen" class="form-control" type="text" name="imagen" />
        </div>
        <button class="btn btn-success mt-3 mb-5">Enviar</button>
      </form>
      <div id="chat">
        <h1>Chat personal</h1>
        <form action="/mensajes" method="post">
          <input type="email" id="email" placeholder="example@gmail.com" required />
          <hr />
          <%- include('./partials/chat.ejs', messages) %>
          <input type="text" id="mensaje" placeholder="Escribe un mensaje..." />
          <br /><br />
          <input type="submit" value="Enviar" />
        </form>
      </div>
      <h2 style="color: crimson">Historial</h2>
      <%- include('./partials/tabla.ejs',  products) %>
    </div>
  </div>
</body>
<%- include('./partials/pie.ejs') %>