<%- include('./partials/encabezado.ejs') %>
  <div class="alert alert-danger" role="alert" style="height: 50px; width: 500px; margin: auto; margin-top: 20px; text-align: center;">
    Error al iniciar sesion, revisar email y contraseña!!!
  </div>
  <style>
    .center{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
    }
  </style>
  <script>
    setTimeout(() => {
        location.href = '/login'
    }, 2000)
  </script>
<%- include('./partials/pie.ejs') %>