<%- include('./partials/encabezado.ejs') %>
  <div class="alert alert-primary" role="alert" style="width: 500px; margin: auto; margin-top: 20px; text-align: center;">
    Hasta luego!!! <a href="#" class="alert-link">
  </div>
<%- include('./partials/pie.ejs') %>