<%- include('./partials/encabezado.ejs') %>
  <div class="alert alert-danger" role="alert" style="height: 50px; width: 500px; margin: auto; margin-top: 20px; text-align: center;">
    Error al registrarse, verificar los datos completados!!!
  </div>
  <div class="center">
    <button type="button" class="btn btn-danger" style="margin: auto; margin-bottom: 10px; "><a href="/registro" class="alert-link" style="color: white;">Volver</a></button>
  </div>
  <style>
    .center{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
    }
  </style>
<%- include('./partials/pie.ejs') %>