<%- include('./partials/encabezado.ejs') %>
  <div class="alert alert-primary" role="alert" style="width: 500px; margin: auto; margin-top: 20px; text-align: center;">
    Hasta luego <%= username %>!!! <a href="#" class="alert-link">
  </div>
  <script>
    setTimeout(() => {
        location.href = '/'
    }, 2000)
  </script>
<%- include('./partials/pie.ejs') %>