<%- include('./partials/encabezado.ejs') %>
<div>
  <button type='button' class='btn btn-info' id='btn'><a href='/login' id='link'>Iniciar sesion</a></button>
</div>
<form action='/registro' method='post' enctype='multipart/form-data' onsubmit='return post(this)' style='width: 500px; margin: auto; margin-top: 100px; font-size: 25px; background-color: rgb(236, 240, 236)'>
  <div class='form-group'>
    <label for='picture'>Foto</label><br/>
    <input type='file' name='picture' id='picture' aria-describedby='nombreUsuario' />
    <label for='username'>Nombre</label>
    <input type='text' class='form-control' name='username' aria-describedby='nombreUsuario' />
    <label for='surname'>Apellido</label>
    <input type='text' class='form-control' name='surname' aria-describedby='apellidoUsuario' />
    <label for='age'>Edad</label>
    <input type='number' class='form-control' name='age' aria-describedby='edadUsuario' />
    <label for='phone'>Telefono</label><br>
    <input id='phone' type='tel' class='form-control' name='phone' /><br>
    <label for='address'>Direccion</label>
    <input type='text' class='form-control' name='address' aria-describedby='direccionUsuario' />
    <label for='email'>Correo electronico</label>
    <input type='email' class='form-control' name='email' aria-describedby='emailUsuario' />
    <label for='contraseña'>Contraseña</label>
    <input type='password' class='form-control' name='password' aria-describedby='contraseñaUsuario' />
  </div>
  <button type='submit' class='btn btn-primary'>Registrarse</button>
</form>
<style>
  body{
    margin-bottom: 50px;
  }
  #link{
    color: white;
  }
  #btn{
    position: relative;
    top: 20px;
    left: 50px;
  }
  #phone{
    width: 58.65vh;
  }
  #picture{
    font-size: 20px;
  }
</style>
<script>
  function getIp(callback) {
    fetch(`https://ipinfo.io/json?token=e5aafdcf52e8b3`, { headers: { 'Accept': 'application/json' }})
      .then((resp) => resp.json())
      .catch(() => {
        return {
          country: 'us',
        };
      })
      .then((resp) => callback(resp.country));
  }
  const phoneInputField = document.querySelector('#phone');
  const phoneInput = window.intlTelInput(phoneInputField, {
    initialCountry: 'auto',
    geoIpLookup: getIp,
    utilsScript:
      'https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js',
  });
</script>
<%- include('./partials/pie.ejs') %>