<header>
    <%- include('./partials/encabezado.ejs') %>
</header>
<body>
  <div class="container mt-3">
    <div class="jumbotron">
      <h1 style="color: blue">Ingrese datos</h1>
      <form action="/productos" method="post">
        <div class="form-group">
          <label for="nombre"><b>Nombre</b></label>
          <input id="nombre" class="form-control" type="text" name="nombre" />
        </div>
        <div class="form-group">
          <label for="precio"><b>Precio</b></label>
          <input
            id="apellido"
            class="form-control"
            type="number"
            name="precio"
          />
        </div>
        <div class="form-group">
          <label for="stock"><b>Stock</b></label>
          <input id="stock" class="form-control" type="number" name="stock" />
        </div>
        <div class="form-group">
          <label for="imagen"><b>Imagen</b></label>
          <input id="imagen" class="form-control" type="text" name="imagen" />
        </div>
        <button class="btn btn-success mt-3 mb-5">Enviar</button>
      </form>
      <h2 style="color: crimson">Historial</h2>
      <%- include('./partials/tabla.ejs',  productos) %>
    </div>
  </div>
</body>
<%- include('./partials/pie.ejs') %>